{% extends "core/base.html" %}

{% block title %}Editar categoría{% endblock %}

{% block content %}
<div class="card">
    <h2 class="page-title">Editar categoría</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre</label>
            {{ form.nombre }}
        </div>

        <button class="btn" type="submit">Guardar cambios</button>
        <a href="/panel/categorias/" class="btn-secondary btn">Cancelar</a>
    </form>
</div>
{% endblock %}
